<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="IHelloWorldMessageHandler" type="HelloWorldConsole.IHelloWorldMessageHandler, HelloWorldConsole" />
    <typeAlias alias="ConsoleMessageHandler" type="HelloWorldConsole.ConsoleMessageHandler, HelloWorldConsole" />
  </typeAliases>
  <container>
    <register type="IHelloWorldMessageHandler" mapTo="ConsoleMessageHandler" />
  </container>
</unity>